<div class="footer-wrapper config">
  <h2><%= t "index.footer" %></h2>
  <div class="boxi"></div>
  <div class="boxi"></div>
  <div class="boxi"></div>
</div>
<div class="credit"><span><%= t "index.credit" %></span></div>
