<div class="main">
  <div class="box">
    <%= image_tag "post.jpg", class: "image-post"%>
    <div class="post-content">
      <h3 class="title-post"></h3>
      <span class="hr"></span>
      <div class="content-short">
        <p></p>
      </div>
      <button class="btn btn-sm btn-default"><%= t "index.btn-read-more" %></button>
    </div>
  </div>
</div>
