$back-to-top-hover: #2ecc71;
$back-to-top: #2c3e50;
$box-background: #ecf0f1;
$color-background: #ecf0f1;
$color-credit: #2ecc71;
$color-header-h1: #2c3e50;
$color-header-p: #999;
$color-hr: #808080;
$color-li-hover: #466e96;
$color-menu-backround: #2c3e50;
$color-menu-before: #2ecc71;
$color-red: #f00;
$color-visited-hover:#22a1c4;
$color-visited: #555;
$color-white: #fff;
$footer-wrapper-border: #2ecc71;
$footer-wrapper-boxi-hover: #3d556d;
$footer-wrapper-boxi: #34495e;
$footer-wrapper-color: #2c3e50;
$header-backgroud: #fdfdfd;
$side-content3: #3498db;
$side-content: #bdc3c7;
$sideh-2-background: #95a5a6;
