@import 'variables/colors';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

html {
  background: $color-background;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $box-background !important;
  background: transparent;
  background-color: $box-background !important;
  font-family: 'Oswald', sans-serif;
}

a,
a:visited {
  color: $color-visited;
  outline: none;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited:hover {
  color: $color-visited-hover;
  text-decoration: none;
}

.arlina {
  background: $color-white;
  margin: 5% auto;
  max-width: 920px;
  position: relative;
  width: 100%;
}

.header {
  background: $back-to-top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $color-white;
  margin: auto;
  padding: 5%;
  width: 95.7%;
  color: $color-white;

  p {
    color: $color-header-p;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
  }
}

.menu-wrap {
  background: $color-white;
  border-top: 1px solid $color-white;
  margin: 0 20px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.menu {
  background: $color-menu-backround;
  height: 60px;
  margin: auto;
  max-width: 920px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.content {
  background: $color-white;
  margin: 0;
  margin-top: -2% !important;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.main {
  background: $color-white;
  border: 1px solid $color-gray-two;
  float: left;
  position: relative;
  width: 66%;
}

.user-list {
  border-bottom: 1px solid $color-gray-two;
  margin-bottom: 2%;
}

.box,
.box3 {
  background: $box-background;
  display: block;
  height: 170px;
  margin: 0 0 20px;
  position: relative;
}

.box:last-child {
  margin: 0;
}

.box::before,
.box3::before {
  background-size: cover;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 170px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

.image-post {
  height: 169px;
  width: 256px;
}

.avatar {
  background-image: url('post.jpg');
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 100px;
  width: 100px;

}

.header-user {
  margin-left: 40%;
}

.box::after,
.box3::after {
  bottom: 0;
  font-size: 50px;
  height: 170px;
  left: 0;
  line-height: 170px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all .6s;
  visibility: hidden;
  width: 255px;
  z-index: 2;
}

.box:hover::after,
.box3:hover::after {
  opacity: 1;
  visibility: visible;
}

.post-content {
  float: right;
  height: 170px;
  padding: 10px;
  width: 322px;

  .title-post {
    border-bottom: 1px solid $color-hr;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
  }
}

$font-size: 10px;
$line-height: 1.4;
$lines-to-show: 6;

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.user-post {
  border: 1px solid $color-gray;
  border-radius: 3%;
  margin: 1%;
  width: 31.333333% !important;

  .user-post-sub {
    padding-bottom: 8px;
  }
}

.image-post-show {
  margin-left: -3%;
  margin-top: 5%;
}

.side {
  float: right;
  max-width: 280px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  h2 {
    background: $sideh-2-background;
    color: $color-white;
    display: block;
    font-size: 150%;
    margin: auto;
    padding: 15px 0;
    text-align: center;
  }
}

.profile-user {
  height: 250px;
  border: 1px solid $box-background;
}

.sidecontent2,
.sidecontent3 {
  background: $side-content;
  height: 200px;
  margin: 0 auto 20px;
  position: relative;
  width: 280px;
}

.sidecontent3 {
  background: $side-content3;

  span {
    display: inline-block;
    margin: 80px 0 0 65px;
    padding: 0;
    position: relative;
    text-align: center;
  }
}

.sidecontent2 span,
.sidecontent3 span {
  left: 0;
  margin: auto;
  padding: 20px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 35%;
}

.credit {
  background: $back-to-top;
  margin: 0;

  span {
    display: table;
    font-size: 16px;
    line-height: 80px;
    margin: auto;
    text-align: center;
  }
}

.setting-user{
  cursor: pointer;
}

.upload-images,
.box3 {
  display: block;
  height: 104px;
  margin: -100px 0 20px;
  position: relative;
}

.upload-images::last-child {
  margin: 0;
}

.content-short {

  span {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-to-show;
    display: -webkit-box;
    display: block;
    font-size: 15px;
    height: $font-size * $line-height * $lines-to-show;
    line-height: $line-height;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.font-size {
  font-size: 16px;
}

.search-form {
  margin-top: 14px;
}

.logo-website {
  height: 50px;
}

.content-short {
  span {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-to-show;
    display: -webkit-box;
    display: block;
    font-size: 15px;
    height: $font-size*$line-height*$lines-to-show;
    line-height: $line-height;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.font-size {
  font-size: 16px;
}

.search-form {
  margin-top: 26px;
}

ul.ui-autocomplete {
  border: solid 1px $back-to-top-hover;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;

  li {
    background-color: $color-white;
    border-radius: 5px;
    border-top: solid 1px $back-to-top-hover;
    margin: 0;
    padding: 0;

    a {
      color: $back-to-top-hover;
      display: block;
      padding: 3px;
    }

    a.ui-state-hover,
    a.ui-state-active {
      background-color: $back-to-top-hover;
    }
  }
}

.page {
  margin: 0 auto;
  width: 580px;
}

.post {
  background: $color-gray-two;
  padding: 0 0 0 0;
}

h2 a {
  text-decoration:none;
}

.post-meta {
  text-align: right;

  ul {
   list-style: none;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }
}
