@import 'variables/colors';

.navbar-inverse {
  background-color: $footer-wrapper-color !important;
  border-color: $color-navbar;
  border-radius: 0 !important;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: -1px !important;
  padding: 15px !important;
}
